<script id="metaDataTemplate" type="text/x-handlebars-template">
	<div class="column small-12 medium-8 large-6">
		<div class="callout">
			<p class="results">Results on page: <span class="accent">{{{{raw}}}} {{totalResponses}} {{{{/raw}}}}</span></p>
			<p class="total-pages">Total pages: <span class="accent">{{{{raw}}}} {{numPages}} {{{{/raw}}}}</span></p>
			<p class="current-page">Current page: <span class="accent">{{{{raw}}}} {{currentPage}} {{{{/raw}}}}</span></p>
		</div>
	</div>
</script>