<script id="searchBreweryQueryTemplate" type="text/x-handlebars-template">	
  <div class="column">
    <div class="callout">
      <h5 class="title">{{{{raw}}}} {{breweryName}} {{{{/raw}}}}</h5>
      <p><img src="{{{{raw}}}} {{breweryImages.squareLarge}} {{{{/raw}}}}" alt="brewery image"></p>
      <p class="lead"></p>
      <p class="subheader">{{{{raw}}}} {{breweryDescShort}} {{{{/raw}}}}</p>
    </div>
  </div>
</script>